<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Avatar</th>
        <th>Id</th>
        <th>Login</th>
        <th>Code</th>
        <th>Created At</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody class="tbody-container">
      <tr *ngFor="let post of posts">
        <td>
          <img
            src="{{ post.owner.avatar_url }}"
            alt="Gitter Image Preview"
            class="github-avatar"
          />
        </td>
        <td>{{ post.owner.id }}</td>
        <td>{{ post.owner.login }}</td>
        <td>
          <a
            href="https://gist.github.com/{{ post.owner.login }}/{{ post.id }}"
            target="_blank"
            rel="noopener noreferrer"
            >{{ post.description }}</a
          >
        </td>
        <td>{{ post.created_at | date : "d/MMMM/Y" }}</td>
        <td>{{ post.created_at | date : "shortTime" }}</td>
      </tr>
    </tbody>
  </table>
</div>
