<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Avatar</th>
        <th>Id</th>
        <th>Login</th>
        <th>Code</th>
        <th>Created At</th>
        <th class="th-time">Time</th>
      </tr>
    </thead>
    <tbody class="tbody-container">
      <tr *ngFor="let gist of posts">
        <td class="td-avatar">
          <a
            href="https://avatars.githubusercontent.com/u/{{ gist.owner.id }}"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="{{ gist.owner.avatar_url }}"
              alt="Gitter Image Preview"
              class="github-avatar"
            />
          </a>
        </td>
        <td>{{ gist.owner.id }}</td>
        <td>
          <a
            href="https://gist.github.com/{{ gist.owner.login }}"
            target="_blank"
            rel="noopener noreferrer"
            class="login-id"
          >
            {{ gist.owner.login }}</a
          >
        </td>
        <td>
          <a
            href="https://gist.github.com/{{ gist.owner.login }}/{{ gist.id }}"
            target="_blank"
            rel="noopener noreferrer"
            class="code-text"
            >{{ gist.description }}</a
          >
        </td>
        <td>{{ gist.created_at | date : "d/MMMM/Y" }}</td>
        <td>{{ gist.created_at | date : "shortTime" }}</td>
      </tr>
    </tbody>
  </table>
</div>
