<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Avatar</th>
        <th>Id</th>
        <th>Login</th>
        <th>Code</th>
        <th>Created At</th>
        <th class="th-time">Time</th>
      </tr>
    </thead>
    <tbody class="tbody-container">
      <tr *ngFor="let gist of posts">
        <td class="td-avatar">
          <img
            src="{{ gist.owner.avatar_url }}"
            alt="Gitter Image Preview"
            class="github-avatar"
          />
        </td>
        <td>{{ gist.owner.id }}</td>
        <td>{{ gist.owner.login }}</td>
        <td>
          <a
            href="https://gist.github.com/{{ gist.owner.login }}/{{ gist.id }}"
            target="_blank"
            rel="noopener noreferrer"
            >{{ gist.description }}</a
          >
        </td>
        <td>{{ gist.created_at | date : "d/MMMM/Y" }}</td>
        <td>{{ gist.created_at | date : "shortTime" }}</td>
      </tr>
    </tbody>
  </table>
</div>
